@charset "utf-8";
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1484184125282'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1484184125282#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1484184125282') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1484184125282') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1484184125282#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before { content: "\e602"; }

.icon-jia:before { content: "\e626"; }

.icon-icon:before { content: "\e601"; }

.icon-shezhi:before { content: "\e61a"; }

.icon-review:before { content: "\e638"; }

.icon-wujiaoxing:before { content: "\e673"; }

.icon-lingdang:before { content: "\e64d"; }

.icon-ditu:before { content: "\e608"; }

.icon-sousuo:before { content: "\e60a"; }

.icon-fenlei:before { content: "\e637"; }

.icon-jiu:before { content: "\e60d"; }

.icon-icon17:before { content: "\e611"; }

.icon-guanzhu:before { content: "\e622"; }

.icon-icon001:before { content: "\e60e"; }

.icon-icon031:before { content: "\e629"; }

.icon-zhifu:before { content: "\e62b"; }

.icon-jian:before { content: "\e61f"; }

.icon-yeguoditu:before { content: "\e603"; }

.icon-shaixuan:before { content: "\e62f"; }

.icon-study:before { content: "\e613"; }

.icon-01:before { content: "\e68b"; }

.icon-hua:before { content: "\e634"; }

.icon-shafa:before { content: "\e60b"; }

.icon-kongwujiaoxing:before { content: "\e62d"; }

.icon-qiche:before { content: "\e610"; }

.icon-dianhua:before { content: "\e612"; }

.icon-comiisxiangji:before { content: "\e657"; }

.icon-eye:before { content: "\e679"; }

.icon-hunqing:before { content: "\e61c"; }

.icon-deng:before { content: "\e780"; }

.icon-wodeyinxingqia:before { content: "\e61b"; }

.icon-dianzan:before { content: "\e714"; }

.icon-niao:before { content: "\e667"; }

.icon-gouwuche2:before { content: "\e607"; }

.icon-iconshibai:before { content: "\e619"; }

.icon-gantanhao:before { content: "\e64c"; }

.icon-dianzuan:before { content: "\e616"; }

.icon-vip:before { content: "\e646"; }

.icon-shexiangtou:before { content: "\e63d"; }

.icon-jiaohuan:before { content: "\e7e7"; }

.icon-guanzhu1:before { content: "\e87b"; }

.icon-bijiben-copy:before { content: "\e600"; }

.icon-sbanicon:before { content: "\e60f"; }

.icon-gongwenbaoxian:before { content: "\e609"; }

.icon-youhuiquan:before { content: "\e62a"; }

.icon-xiaoxi:before { content: "\e60c"; }

.icon-xinyuandan:before { content: "\e65c"; }

.icon-fenxiang:before { content: "\e605"; }

.icon-liwu:before { content: "\e606"; }

.icon-xie:before { content: "\e62e"; }

.icon-chenggong:before { content: "\e61d"; }

.icon-wechat:before { content: "\e621"; }

.icon-shang:before { content: "\e614"; }

.icon-qipao:before { content: "\e91d"; }

.icon-tuihuanhuo:before { content: "\e6a4"; }

.icon-liulanlishi:before { content: "\e672"; }

.icon-shenglve:before { content: "\e617"; }

.icon-ren:before { content: "\e604"; }

.icon-peishi:before { content: "\e66f"; }

.icon-shitu:before { content: "\e618"; }

.icon-bukejian:before { content: "\e632"; }

.icon--:before { content: "\e615"; }

.icon-liebiaoyehuihua:before { content: "\e6b4"; }

*{word-wrap:break-word}
body{width: 100%;height: 100%;	margin: 0px;padding: 0px;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
s{text-decoration: none;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #ccc; }
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #ccc; }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #ccc;}

.none{display: none !important;}
.nmg{margin: 0 !important;}
.npd{padding: 0 !important;}
.nback{background: none !important;}
.font10{font-size: 0.5em !important;}
.font12{font-size: 0.8em !important;}
.font14{font-size: 1em !important;}
.font16{font-size: 1.2em !important;}
.font18{font-size: 1.4em !important;}
.font20{font-size: 1.6em !important;}
.font22{font-size: 1.8em !important;}
.font24{font-size: 2.2em !important;}
.font26{font-size: 2.6em !important;}
.font-color-3{color: #333333 !important;}
.font-color-6{color: #666666 !important;}
.font-color-9{color: #999999 !important;}
.font-color-h{color: #C7A062 !important;}
.color-red{color:#D90000;}
.color-white{color:#FFFFFF;}
.color-green{color: #58cb3b !important;}
.font-weight{font-weight: bold;}
.no-font-weight{font-weight: normal;}
.line12{line-height: 12px !important;}
.line16{line-height: 16px !important;}
.line18{line-height: 18px !important;}
.line20{line-height: 20px !important;}
.line44{line-height: 44px !important;}
.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}
.bakc-eee{background: #eeeeee !important;}
.bakc-fff{background: #ffffff !important;}
.back-fb{background: #FBFBFB;}
.back-green{background: #58cb3b !important;}
.back-purple{background: #fe52f1 !important;}
.back-gray{background: #A0A0A0 !important;}
.back-red{background: #D90000 !important;}
.back-beige{background: #C7A062 !important;}
.border{border: 0.6px #EEEEEE solid !important; }
.border-color-d{border-color:#ddd}
.border-b{border-bottom: 0.6px #DDDDDD solid !important;}
.border-t{border-top: 0.6px #EEEEEE solid !important;}
.border-be{border-bottom: 0.6px #EEEEEE solid !important;}
.border-r{border-right: 0.6px #EEEEEE solid !important;}
.border-l{border-left: 0.6px #EEEEEE solid !important;}
.mar-left{margin-left: 15px !important;}
.mar-top{margin-top: 15px !important;}
.mar-bottom{margin-bottom: 15px !important;}
.mar-right{margin-right: 15px !important;}
.margin10{margin: 10px !important;}
.margin20{margin: 20px !important;}
.margin-t5{margin-top: 5px !important;}
.margin-t10{margin-top: 10px !important;}
.margin-t12{margin-top: 12px !important;}
.margin-t20{margin-top: 20px !important;}
.margin-r5{margin-right: 5px !important;}
.margin-r10{margin-right: 10px !important;}
.margin-r20{margin-right: 20px !important;}
.margin-l10{margin-left: 10px !important;}
.margin-l20{margin-left: 20px !important;}
.margin-l30{margin-left: 30px !important;}
.margin-b10{margin-bottom: 10px !important;}
.margin-b20{margin-bottom: 20px !important;}
.padding-tb2{padding: 2px 0;}
.padding-t10{padding-top: 10px;}
.padding-t20{padding-top: 20px;}
.padding-b10{padding-bottom: 10px;}
.padding-b20{padding-bottom: 20px;}
.padding-b50{ padding-bottom: 50px;}
.padding-r20{ padding-right: 20px !important;}
.padding-l5{ padding-left: 5px !important;}
.padding-l10{ padding-left: 10px !important;}
.padding-line44{padding: 12px 15px;}
.underline{text-decoration: underline;}
.radius50{border-radius: 50% !important;}
.radius4{border-radius:4px !important;}
.nborder-t{border-top:none !important;}
.nborder-l{border-left:none !important;}
.nborder-r{border-right:none !important;}
.nborder-b{border-bottom:none !important;}
.nborder{ border: none !important;}
.button-h{background: #C7A062 !important; color: #FFFFFF !important;}
.hidden{overflow: hidden;}
.visible{overflow: visible;}
.height44{height: 44px;}
.nospace{white-space: normal !important;}
.relative{position: relative;}
.text-overflow{text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.line-through{text-decoration: line-through !important;}
header{box-shadow: 0 0 2px #eee !important;}
