.index-container {
  margin-top: 10px;
}

.index-container ul {
  width: 100%;
  height: auto;
  text-align: center;
}

.index-container li {
  list-style: none;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #ccc;
  margin: 0 3px;
}

.index-container li.select {
  background-color: rgb(233, 32, 61);
}

.carousel-item ul {
  width: 100%;
  height: auto;
}

.carousel-item li {
  display: block;
  list-style: none;
  width: 20%;
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: top center;
  text-align: center;
  padding-top: 50px;
  color: #666;
  font-size: 14px;
}

/* 1 */
.meishi{
  background-image: url('../../static/cate_icons/01美食icon_1.png');
}

.dianying{
  background-image: url('../../static/cate_icons/01电影icon_2.png');
}

.jiudian{
  background-image: url('../../static/cate_icons/01酒店icon_3.png');
}

.xuixianyule{
  background-image: url('../../static/cate_icons/01休闲娱乐icon_4.png');
}

.waimai{
  background-image: url('../../static/cate_icons/01外卖icon_5.png');
}

.huoguo{
  background-image: url('../../static/cate_icons/01火锅icon_6.png');
}

.liren{
  background-image: url('../../static/cate_icons/01丽人icon_7.png');
}

.dujiachuxing{
  background-image: url('../../static/cate_icons/01度假出行icon_8.png');
}

.zuliaoanmo{
  background-image: url('../../static/cate_icons/01足疗按摩icon_9.png');
}

.zhoubianyou{
  background-image: url('../../static/cate_icons/01周边游icon_10png.png');
}

/* 2 */
.jingdian {
  background-image: url('../../static/cate_icons/02景点icon_1.png');
}
